@model IPagedList<Feedit01.Models.Article>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string view = "Delete";
}

@using PagedList.Mvc;
@using PagedList;

@using (Html.BeginForm(view, "Home", new { sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, size = ViewBag.CurrentPageSize }, FormMethod.Post))
{
    <p>
        <div class="form-inline" style="margin-top:20px">

            <div class="form-group pull-left" style="margin-bottom:20px">
                <input type="button" value="Add new article" class="btn btn-info" onclick="location.href='@Url.Action("Create", "Home")'" />
                <div class="btn-group" role="group">
                    <button class="btn btn-success">Sorting</button>
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>@Html.ActionLink("Votes", view, new { sortOrder = ViewBag.VoteSortParam, currentFilter = ViewBag.CurrentFilter, size = ViewBag.CurrentPageSize })</li>
                        <li>@Html.ActionLink("Headline", view, new { sortOrder = ViewBag.HeadlineSortParam, currentFilter = ViewBag.CurrentFilter, size = ViewBag.CurrentPageSize })</li>
                        <li>@Html.ActionLink("Author", view, new { sortOrder = ViewBag.AuthorSortParam, currentFilter = ViewBag.CurrentFilter, size = ViewBag.CurrentPageSize })</li>
                    </ul>
                </div>
                @if (ViewBag.DeletedArticles != null)
                {
                    if (ViewBag.DeletedArticles > 0)
                    {
                        <input type="button" value="Broj obrisanih članaka: @ViewBag.DeletedArticles" class="btn alert-danger" id="deleteSuccess" />
                    }
                    else
                    {
                        <input type="button" value="Nije odabran niti jedan članak za brisanje" class="btn alert-danger" id="deleteSuccess" />
                    }
                }
            </div>

            <div class="form-group pull-right">
                <a href="~/Home/Delete" class="btn btn-warning">Reset</a>
                <input type="text" class="form-control input-group-sm" placeholder="Type headline.." name="searchString" @ViewBag.CurrentFilter as string />
                <button type="submit" name="btnSearch" class="btn btn-info"><span class="glyphicon glyphicon-search"></span> Search</button>
            </div>

        </div>
    </p>

    <table class="table">
        <tr style="background-color:ghostwhite">
            <th>
                @Html.DisplayNameFor(model => model.First().Votes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Headline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Author)
            </th>
            <th>
                @Html.DisplayName("Delete")
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Votes)
                </td>
                <td>
                    <a href=@Html.DisplayFor(modelItem => item.Url)>@Html.DisplayFor(modelItem => item.Headline)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    <input type="checkbox" name="idsToDelete" value="@item.Id" />
                </td>
            </tr>
        }

    </table>
    if (ViewBag.Articles == 0)
    {
        <h1 class="text-danger">Trenutno nema članaka za prikaz</h1>
    }
    <p>
        <div class="pull-right">
            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Home", new { sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, size = ViewBag.CurrentPageSize })'">
                <span class="glyphicon glyphicon-arrow-left"></span> Back
            </button>
            <button type="submit" class="btn btn-danger" onclick="location.href='@Url.Action(view, "Home" )'">
                <span class="glyphicon glyphicon-trash"></span> Delete
            </button>
        </div>
    </p>
}

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action(view, "Home", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, size = ViewBag.CurrentPageSize }))

    Number of articles per page:
<div class="btn-group" role="group">
    <button class="btn btn-success">@ViewBag.CurrentPageSize</button>
    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
    <ul class="dropdown-menu dropdown-menu-right">
        <li>@Html.ActionLink("10", view, new { size = 10, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })</li>
        <li>@Html.ActionLink("25", view, new { size = 25, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })</li>
        <li>@Html.ActionLink("50", view, new { size = 50, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter })</li>
    </ul>
</div>


<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#deleteSuccess').delay(2000).fadeOut();
    });
</script>